<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fr.alainmuller.android.apocal"
          android:versionCode="5"
          android:versionName="2.2">

    <uses-sdk android:minSdkVersion="7"
              android:targetSdkVersion="10"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher_icon"
                 android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <!-- Définition du widget -->
        <receiver android:name=".WidgetActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_provider" />
        </receiver>

        <activity android:name="CountDownActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".HelpDialog"/>
    </application>
</manifest>
